@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(~assets/fonts/Inter/Inter-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url(~assets/fonts/Inter/Inter-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url(~assets/fonts/Inter/Inter-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url(~assets/fonts/Inter/Inter-Bold.ttf) format("truetype");
}

body {
  font-family: 'Inter', sans-serif;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-enter-active, .home-leave-active { transition: opacity .3s; }
.home-enter, .home-leave-active { opacity: 0; }
